body {
    background-image:url('../img/organizer.JPG');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    width:100%;
    height:100%;
    background-size:100% 100%;
}
img {
    margin-top: 30px;
}
